
<!--<button (click)="save()">Save</button>-->
<div *ngIf="hero" class="flex-grid">
    <div class="col">
        <button (click)="goBack()"
        style="margin-top: 3px;">
        <img src="/app/images/buttons/back-button.png"
            height="30px">
    </button>
    <button (click)="goForward(hero.id)"
        style="margin-top: 3px;transform: scaleX(-1);">
        <img src="/app/images/buttons/back-button.png"
            height="30px">
    </button>
        <h4 class="page-text">{{hero.text}}</h4>
        <h5>{{hero.name}}</h5>
        <!--<div><label>id: </label>{{hero.id}}</div>-->
        <!--<div>
            <label>name: </label>
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </div>-->
    </div>
    <div class="col">
        <img class="detail-image" 
        src="/app/images/pages/page-{{hero.id}}.png">
    </div>
</div>
